.EngProjectList {
  background-color: white;
  color: #333;
  padding: 20px;

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    .error {
      color: rgba(255, 0, 0, 0.815);
      font-weight: 600;
    }
  }
}
