.transactionDataTable {
  height: 710px;
  padding: 20px;

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);

    .error {
      color: rgba(255, 0, 0, 0.815);
      font-weight: 600;
    }
  }

  // .datatableTitle {
  // 	width: 100%;
  // 	font-size: 24px;
  // 	color: gray;
  // 	margin-bottom: 10px;
  // 	display: flex;
  // 	align-items: center;
  // 	justify-content: space-between;

  // 	.link {
  // 		text-decoration: none;
  // 		color: green;
  // 		font-size: 16px;
  // 		font-weight: 400;
  // 		border: 1px solid green;
  // 		padding: 5px;
  // 		border-radius: 5px;
  // 		cursor: pointer;
  // 	}
  // }

  .cellWithImg {
    display: flex;
    align-items: center;

    .cellImg {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 20px;
    }
  }

  .cellWithStatus {
    padding: 5px;
    border-radius: 5px;

    font-weight: 600;

    // ON_PROCESS
    // ON_DELIVERY
    // CONFIRMED_RECEIVED
    // ON_RETURN
    // CONFIRMED_RETURNED

    &.ON_PROCESS {
      background-color: #dcfce7;
      color: #000;
    }
    &.ON_DELIVERY {
      background-color: #bbf7d0;
      color: #000;
    }
    &.CONFIRMED_RECEIVED {
      background-color: #86efac;
      color: #000;
    }
    &.ON_RETURN {
      background-color: #4ade80;
      color: #000;
    }
    &.CONFIRMED_RETURNED {
      background-color: #22c55e;
      color: #000;
    }
  }

  .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;

    .viewButton {
      padding: 2px 5px;
      border-radius: 5px;
      color: darkblue;
      border: 1px solid rgba(0, 0, 139, 0.596);
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 139, 0.596);
        color: #fff;
      }
    }

    .editButton {
      padding: 2px 10px;
      border-radius: 5px;
      color: darkgreen;
      border: 1px solid rgba(0, 139, 0, 0.596);
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 139, 0, 0.596);
        color: #fff;
      }
    }
  }
}
