.projectTable {
  // width: 100%;
  // overflow-x: scroll;

  .tableCell {
    word-wrap: break-word;
    max-width: 250px;
    min-width: 150px;
  }

  @media (max-width: 1024px) {
    .tableCell {
      &.md {
        display: none;
      }
    }
  }

  .cellWrapper {
    display: flex;
    align-items: center;

    .image {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 10px;
      object-fit: cover;
    }
  }

  .status {
    padding: 5px;
    border-radius: 5px;

    &.Approved {
      color: green;
      background-color: rgba(0, 128, 0, 0.151);
    }
    &.Pending {
      color: goldenrod;
      background-color: rgba(189, 189, 3, 0.103);
    }

    // status bar from red to green
    // &.PLANNING {
    //   color: red;
    //   background-color: rgba(255, 0, 0, 0.151);
    // }

    // &.DESIGN {
    //   color: orangered;
    //   background-color: rgba(255, 69, 0, 0.151);
    // }

    &.ONGOING {
      color: orange;
      background-color: rgba(255, 165, 0, 0.151);
    }

    // &.COMMISSIONING {
    //   color: goldenrod;
    //   background-color: rgba(189, 189, 3, 0.103);
    // }

    &.COMPLETED {
      color: green;
      background-color: rgba(0, 128, 0, 0.151);
    }
  }

  .viewButton {
    text-decoration: none;
    padding: 2px 5px;
    border-radius: 5px;
    color: darkblue;
    border: 1px solid rgba(0, 0, 139, 0.596);
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 139, 0.596);
      color: white;
    }
  }
}
