.engItems {
  background-color: white;
  color: #333;
  padding: 20px;
  // height: calc(100vh - 50px);

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

    .title {
      font-size: 16px;
      color: gray;
      margin-bottom: 20px;
      font-weight: bold;
    }

    .left {
      -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 1px 1px 3px 1px rgba(201, 201, 201, 0.47);
      flex: 1.5;
      padding: 10px;
      border-radius: 5px;
      height: calc(100vh - 90px);

      position: sticky;
      top: 20px;

      .group {
        margin-bottom: 20px;

        .searchInput {
          width: 100%;
          font-size: 0.9rem;
          padding: 3px;
          outline: none;
          border: 1px solid gray;
          border-radius: 5px;
        }

        .search {
          width: 100%;
          padding: 10px;
          border-radius: 5px;
          border: 1px solid #ccc;
          background-color: #1976d2;
          color: white;
          font-size: 1rem;
          font-weight: 600;
          cursor: pointer;

          &:hover {
            background-color: #2196f3;
          }
        }

        .cbgroup {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 10px;
          margin-bottom: 10px;

          .checkbox {
            width: 14px;
            height: 14px;
          }

          .label {
            font-size: 0.8rem;
            font-weight: bold;
            color: gray;
          }
        }
      }
    }

    .right {
      -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 1px 1px 3px 1px rgba(201, 201, 201, 0.47);
      flex: 8.5;
      padding: 20px;
      border-radius: 5px;
      position: relative;

      .title {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 20px;
      }

      .items {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 20px;

        .noItems {
          font-size: 1.2rem;
          font-weight: 600;
          color: gray;
        }

        .item {
          padding: 5px;
          width: 100%;
          border-radius: 5px;
          overflow: hidden;
          position: relative;
          -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
          box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
          border: 1px solid #ccc;

          &:hover {
            background-color: whitesmoke;
          }

          .itemImg {
            position: relative;
            height: 250px;

            .image {
              width: 100%;
              margin: 0 auto;
              height: 200px;
              object-fit: cover;
              border-radius: 50%;
              border: 1px solid #ccc;
            }

            .itemInfo {
              // position: absolute;
              // top: 0;
              // left: 0;
              border-radius: 5px;
              width: 100%;
              padding: 5px;
              background-color: rgba(0, 0, 0, 0.5);
              margin-bottom: 5px;

              .itemName {
                font-size: 0.8rem;
                font-weight: bold;
                color: white;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
              }
            }
          }

          .outofstock {
            // place on center
            width: 100px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            padding: 5px;
            height: 25px;
            background-color: #ff9800;
            // border-bottom-right-radius: 20px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 0.8rem;
            font-weight: 600;
          }

          .viewButton {
            z-index: 999;
            width: 60px;
            position: absolute;
            bottom: 5px;
            right: 5px;
            padding: 5px;
            font-size: 14px;
            font-weight: 600;
            color: #7451f8;
            background-color: #7551f818;
            cursor: pointer;
            font-weight: bold;
            border-radius: 5px 5px 5px 5px;
            z-index: 99;

            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
              background-color: #7451f8;
              color: white;
            }
          }
        }
      }

      @media (min-width: 640px) {
        .items {
          grid-template-columns: repeat(4, minmax(0, 1fr));
        }
      }

      .paginator {
        position: absolute;
        bottom: 5px;
        left: 0;
        width: 100%;

        .pagination {
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap: 10px;
          margin-top: 20px;
          list-style-type: none;
        }
        .pagination a {
          -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.47);
          box-shadow: 1px 1px 3px 1px rgba(201, 201, 201, 0.47);
          width: 45px;
          height: 45px;
          border-radius: 50%;
          background-color: #2196f3;
          color: white;
          font-size: 1rem;
          font-weight: 600;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
        .pagination a:hover {
          color: white;
          width: 45px;
          height: 45px;
          border-radius: 50%;
          background-color: #444;
        }

        .pagination__link__active a {
          background-color: #444;
          color: white;
          border-radius: 5px solid gray;
        }

        .pagination__link__disabled a {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }

      .pagination {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        margin-top: 20px;

        .button {
          -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.47);
          box-shadow: 1px 1px 3px 1px rgba(201, 201, 201, 0.47);
          width: 35px;
          height: 35px;
          border-radius: 50%;
          background-color: #2196f3;
          color: white;
          font-size: 1rem;
          font-weight: 600;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          &:hover {
            background-color: #444;
          }
        }
      }
    }
  }
}
