.categoryNew {
  background-color: white;
  color: #333;
  padding: 20px;

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: calc(100vh - 90px);
    background-color: white;
  }

  .errorMsg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: calc(100vh - 90px);
    background-color: white;
  }

  .section-1 {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 20px;
    padding-bottom: 20px;
  }

  @media (min-width: 1024px) {
    .section-1 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
