// <div className={styles.changePassword}>
// <div className={styles.wrapper}>
//   <Formik
//     initialValues={initialValues}
//     validationSchema={validationSchema}
//     onSubmit={onSubmit}
//     enableReinitialize
//   >
//     {(formik) => {
//       const buttonText = formik.isSubmitting ? (
//         <PulseLoader color={"#1976d2"} />
//       ) : (
//         <span>Change</span>
//       );

//       return (
//         <Form>
//           <h1 className={styles.title}>Your account is new please change your password</h1>

//           <div className={styles.formGroup}>
//             <label htmlFor="newPassword">New Password</label>
//             <Field
//               id="newPassword"
//               name="newPassword"
//               type="text"
//               placeholder="new password"
//               className={`${styles.input} ${
//                 Boolean(formik.touched.newPassword && formik.errors.newPassword)
//                   ? styles.error
//                   : ""
//               }`}
//             />
//             <ErrorMessage
//               name="newPassword"
//               component={(props) => <TextError {...props} styles={styles.textError} />}
//             />
//           </div>

//           <div className={styles.formGroup}>
//             <label htmlFor="confirmNewPassword">Confirm Password</label>
//             <Field
//               id="confirmNewPassword"
//               name="confirmNewPassword"
//               type="text"
//               placeholder="confirm password"
//               className={`${styles.input} ${
//                 Boolean(formik.touched.confirmNewPassword && formik.errors.confirmNewPassword)
//                   ? styles.error
//                   : ""
//               }`}
//             />
//             <ErrorMessage
//               name="confirmNewPassword"
//               component={(props) => <TextError {...props} styles={styles.textError} />}
//             />
//           </div>

//           <button
//             type="submit"
//             className={styles.submitBtn}
//             disabled={!formik.isValid || formik.isSubmitting}
//           >
//             {buttonText}
//           </button>
//         </Form>
//       );
//     }}
//   </Formik>
// </div>
// </div>

.changePassword {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;

  .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;

    .title {
      text-align: center;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .formGroup {
      margin-bottom: 20px;

      label {
        font-size: 14px;
        font-weight: bold;
        color: #888;
        display: block;
        margin-bottom: 5px;
      }

      .input {
        width: 100%;
        height: 40px;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 0 10px;
        font-size: 14px;
        color: #888;
        outline: none;

        &.error {
          border: 1px solid red;
        }
      }

      .textError {
        font-size: 12px;
        color: red;
        margin-top: 5px;
      }
    }

    .submitBtn {
      width: 100%;
      height: 40px;
      border: none;
      border-radius: 5px;
      background-color: #1976d2;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
      outline: none;

      &:disabled {
        background-color: #1976d285;
        cursor: not-allowed;
      }
    }
  }
}
