.categoryEdit {
  background-color: white;
  color: #333;
  padding: 20px;

  .loading {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .errorMsg {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    color: red;
  }

  .left {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 20px;
  }

  @media (min-width: 1024px) {
    .left {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: calc(100vh - 92px);
  background-color: white;
  color: red;
}
