.dashHome {
	.widgets {
		display: grid;
		grid-template-columns: repeat(1, minmax(0, 1fr));
		padding: 20px;
		gap: 20px;
	}

	@media (min-width: 640px) {
		.widgets {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}
	}

	@media (min-width: 1024px) {
		.widgets {
			grid-template-columns: repeat(4, minmax(0, 1fr));
		}
	}

	.charts {
		display: grid;
		grid-template-columns: repeat(12, minmax(0, 1fr));
		padding: 5px 20px;
		gap: 20px;

		.featured {
			grid-column: 1 / -1;
		}

		.chart {
			grid-column: 1 / -1;
		}

		// @media (min-width: 640px) {
		// 	.featured {
		// 		grid-column: 1 / -1;
		// 	}

		// 	.chart {
		// 		grid-column: 1 / -1;
		// 		// display: block;
		// 	}
		// }

		@media (min-width: 1024px) {
			.featured {
				grid-column: span 4 / span 4;
			}
			.chart {
				grid-column: span 8 / span 8;
			}
		}
	}

	.listContainer {
		-webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
		box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
		padding: 20px;
		margin: 20px;
		display: none;
		.listTitle {
			grid-column: 1 / -1;
			font-weight: 500;
			color: gray;
			margin-bottom: 15px;
		}
	}

	@media (min-width: 640px) {
		.listContainer {
			display: grid;
			grid-template-columns: repeat(12, minmax(0, 1fr));
		}
	}
}
