.engProjectDetail {
  background-color: white;
  color: #333;
  width: 100%;
  padding: 20px;

  .wrapper {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 20px;
    margin-bottom: 20px;
    position: relative;

    .loading {
      background-color: white;
    }

    .errorMsg {
      background-color: white;
      color: red;

      span {
        background-color: gray;
        color: white;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: #333;
        }
      }
    }

    .title {
      font-size: 16px;
      color: lightgray;
      margin-bottom: 20px;
      font-weight: bold;
    }

    .information {
      .itemTitle {
        margin-bottom: 10px;
        color: #555;
        text-transform: uppercase;
      }

      .detailItem {
        margin-bottom: 10px;
        font-size: 14px;

        .itemKey {
          font-weight: bold;
          color: gray;
          margin-right: 5px;
        }

        .itemValue {
          font-weight: 300;

          &.ONGOING {
            padding: 4px;
            border-radius: 5px;
            color: orange;
            background-color: rgba(255, 165, 0, 0.151);
          }

          &.COMPLETED {
            padding: 4px;
            border-radius: 5px;
            color: green;
            background-color: rgba(0, 128, 0, 0.151);
          }
        }
      }
    }

    .backButton {
      position: absolute;
      width: 60px;
      top: 0;
      right: 0;
      padding: 10px;
      font-size: 12px;
      font-weight: 600;
      color: #7451f8;
      background-color: #7551f818;
      cursor: pointer;
      border-radius: 0px 0px 0px 5px;
      z-index: 99;
      &:hover {
        background-color: #7551f830;
      }
    }

    .editButton {
      position: absolute;
      width: 60px;
      top: 40px;
      right: 0;
      padding: 10px;
      font-size: 12px;
      font-weight: 600;
      //dark green theme
      color: #00b300;
      background-color: #00b30018;
      cursor: pointer;
      border-radius: 0px 0px 0px 5px;
      z-index: 99;
      &:hover {
        background-color: #00b30030;
      }
    }
  }
}

.transactionTable {
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 20px;

  .title {
    font-size: 16px;
    color: lightgray;
    margin-bottom: 20px;
    font-weight: bold;
  }
}
