.engineerProfile {
  flex: 1;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 20px;
  position: relative;

  .viewButton {
    position: absolute;
    width: 60px;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
    color: #7451f8;
    background-color: #7551f818;
    cursor: pointer;
    border-radius: 0px 0px 0px 5px;
    z-index: 99;
    &:hover {
      background-color: #7551f830;
    }
  }

  .editButton {
    position: absolute;
    width: 60px;
    top: 40px;
    right: 0;
    padding: 10px;
    font-size: 12px;
    font-weight: 600;
    //dark green theme
    color: #00b300;
    background-color: #00b30018;
    cursor: pointer;
    border-radius: 0px 0px 0px 5px;
    z-index: 99;
    &:hover {
      background-color: #00b30030;
    }
  }

  .empty {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: auto;
    // background-color: rgba(0, 0, 0, 0.05);

    p {
      font-size: 1.2rem;
      font-weight: 300;
      color: gray;
    }
  }

  .title {
    font-size: 1rem;
    font-weight: 900;
    color: gray;
    text-align: center;
    padding-bottom: 10px;
  }

  .item {
    display: flex;
    gap: 25px;

    transition: all 0.3s ease-in-out;

    .itemImg {
      width: 130px;
      height: 130px;
      border-radius: 50%;
      object-fit: cover;
    }

    .details {
      .itemTitle {
        margin-bottom: 10px;
        color: #555;
      }

      .detailItem {
        margin-bottom: 10px;
        font-size: 14px;

        .itemKey {
          font-weight: bold;
          color: gray;
          margin-right: 5px;
        }

        .itemValue {
          font-weight: 300;

          &.ACTIVE {
            color: #00b894;
            background-color: #00b8941a;
            padding: 5px 10px;
            border-radius: 5px;
          }

          &.INACTIVE {
            color: #d63031;
            background-color: #d630311a;
            padding: 5px 10px;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
