.projectEdit {
  background-color: white;
  color: #333;
  padding: 20px;

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: calc(100vh - 90px);
    background-color: white;
  }

  .errorMsg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: calc(100vh - 90px);
    background-color: white;
  }

  .section-1 {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 20px;
    padding-bottom: 20px;
  }

  @media (min-width: 1024px) {
    .section-1 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  .section-2 {
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 20px;

    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    .title {
      font-size: 1rem;
      font-weight: 900;
      color: gray;
      text-align: center;
      padding-bottom: 10px;
    }
  }
}
