.transactionDetail {
  background-color: white;
  color: #333;
  width: 100%;
  padding: 20px;

  .wrapper {
    -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 1px 1px 3px 1px rgba(201, 201, 201, 0.47);
    padding: 20px;
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 20px;

    .loading {
      background-color: white;
    }

    .errorMsg {
      background-color: white;
      color: red;

      span {
        background-color: gray;
        color: white;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: #333;
        }
      }
    }

    .title {
      font-size: 16px;
      color: lightgray;
      margin-bottom: 20px;
      font-weight: bold;
    }

    .subtitle {
      font-size: 14px;
      color: lightgray;
      margin-bottom: 10px;
      margin-top: 5px;
      font-weight: bold;
    }

    .top {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;

      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      gap: 20px;

      .left,
      .center,
      .right {
        flex: 1;
        position: relative;
      }

      .viewButton {
        text-align: center;
        position: absolute;
        width: 80px;
        top: 0;
        right: 0;
        padding: 10px;
        font-size: 12px;
        font-weight: 600;
        color: #7451f8;
        background-color: #7551f818;
        cursor: pointer;
        border-radius: 0px 0px 0px 5px;
        z-index: 99;
        &:hover {
          background-color: #7551f830;
        }
      }

      .itemImg {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
      }

      hr {
        border: 1px solid lightgray;
        margin: 0;
      }

      .information {
        .itemTitle {
          margin-bottom: 10px;
          color: #555;
          text-transform: uppercase;
        }

        .detailItem {
          margin-bottom: 10px;
          font-size: 14px;

          .itemKey {
            font-weight: bold;
            color: gray;
            margin-right: 5px;
          }

          .itemValue {
            font-weight: 300;
          }
        }
      }
    }

    @media (min-width: 1024px) {
      .top {
        flex-direction: row;
      }
    }

    .bottom {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      width: 100%;
      position: relative;

      .updateCategoryButton {
        position: absolute;
        text-align: center;
        width: 150px;
        top: 0;
        right: 0;
        padding: 10px;
        font-size: 12px;
        font-weight: 600;
        //dark green theme
        color: #00b300;
        background-color: #00b30018;
        cursor: pointer;
        border-radius: 0px 0px 0px 5px;
        z-index: 99;
        &:hover {
          background-color: #00b30030;
        }
      }

      .title {
        font-size: 16px;
        color: lightgray;
        margin-bottom: 20px;
        font-weight: bold;
      }

      .items {
        display: flex;
        gap: 40px;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        position: relative;
        font-size: 14px;

        .item {
          position: relative;
          background-color: #f5f5f5;
          border-radius: 50%;
          width: 100px;
          height: 100px;

          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          color: #555;
          // add blur
          text-shadow: 1px 1px 2px gray;
          z-index: 2;

          .value {
            font-size: 14px;
            font-weight: bold;
            text-align: center;
          }

          &.ACTIVE {
            background-color: green;
            color: white;
            animation: pulse 1.2s infinite ease-in;
          }

          &.WAITING {
            background-color: green;
            color: white;
            animation: pulse 1.2s infinite ease-in;
          }

          &.ON_DELIVERY {
            background-color: green;
            color: white;
            animation: pulse 1.2s infinite ease-in;
          }
          &.CONFIRMED_RECEIVED {
            background-color: green;
            color: white;
            animation: pulse 1.2s infinite ease-in;
          }
          &.ON_RETURN {
            background-color: green;
            color: white;
            animation: pulse 1.2s infinite ease-in;
          }
          &.CONFIRMED_RETURNED {
            background-color: green;
            color: white;
            animation: pulse 1.2s infinite ease-in;
          }
          &.CANCELLED {
            background-color: red;
            color: white;
            animation: pulse 1.2s infinite ease-in;
          }

          @keyframes pulse {
            from {
              transform: scale(0.9);
              opacity: 0.5;
            }

            to {
              transform: scale(1.05);
              opacity: 1;
            }
          }
        }

        &:before {
          content: "";
          display: block;
          position: absolute;
          //  vertical line
          top: 0;
          left: 50%;
          width: 4px;
          height: 100%;
          background-color: #f5f5f5;
          z-index: 1;
        }
      }

      @media (min-width: 1024px) {
        .items {
          flex-direction: row;
          align-items: center;

          &:before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: #f5f5f5;
            z-index: 1;
          }
        }
      }
    }

    .backButton {
      position: absolute;
      width: 60px;
      top: 0;
      right: 0;
      padding: 10px;
      font-size: 12px;
      font-weight: 600;
      color: #7451f8;
      background-color: #7551f818;
      cursor: pointer;
      border-radius: 0px 0px 0px 5px;
      z-index: 99;
      &:hover {
        background-color: #7551f830;
      }
    }

    .editButton {
      position: absolute;
      width: 60px;
      top: 40px;
      right: 0;
      padding: 10px;
      font-size: 12px;
      font-weight: 600;
      //dark green theme
      color: #00b300;
      background-color: #00b30018;
      cursor: pointer;
      border-radius: 0px 0px 0px 5px;
      z-index: 99;
      &:hover {
        background-color: #00b30030;
      }
    }
  }

  .modal {
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

    .modalContent {
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 90%;
      border-radius: 5px;

      .modalTitle {
        font-size: 16px;
        font-weight: bold;
        color: #333;
        margin-bottom: 20px;
      }

      .modalBody {
        .modalItem {
          margin-bottom: 10px;
          font-size: 14px;

          .modalKey {
            font-weight: bold;
            color: gray;
            margin-right: 5px;
          }

          .modalValue {
            font-weight: 300;
          }

          .group {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            gap: 5px;

            .modalInput {
              width: 100%;
              height: 30px;
              border: 1px solid #ccc;
              border-radius: 5px;
              padding: 0px 5px;
              outline: none;
            }

            .remarks {
              width: 100%;
              // height: 50px;
              border: 1px solid #ccc;
              border-radius: 5px;
              padding: 5px;
              outline: none;
            }

            textarea {
              resize: none;
            }

            .text-error {
              color: red;
              font-size: 12px;
              font-weight: 600;
            }
          }
        }
      }

      .modalFooter {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        margin-top: 20px;
        margin-bottom: 5px;

        .modalButton {
          padding: 5px 10px;
          border: none;
          border-radius: 5px;
          background-color: #4586e9;
          color: white;
          font-weight: bold;
          cursor: pointer;

          &:hover {
            background-color: #4586e930;
          }

          &:disabled {
            background-color: #4586e930;
            color: #4586e9;
            cursor: not-allowed;

            &:hover {
              background-color: lightgrey;
            }
          }
        }
      }
    }

    @media (min-width: 640px) {
      .modalContent {
        width: 400px;
      }
    }
  }
}
