.transactionNew {
	background-color: white;
	color: #333;
	width: 100%;
	padding: 20px;

	.container {
		-webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
		box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
		padding: 20px;

		// form {
		// }
	}
}
